*.pyc
.*.cfg
.coverage
.mrsd
.vagrant
/*eggs/
/.project
/.pydevproject
/.Python
/.settings/
/bin
/coverage/
/devsrc/
/dist/
/htmlcov/
/include/
/lib/
/lib64/
/local/
/parts/
/src/*.egg-info
/var/
buildout.cfg
local.cfg
lib64
pip-selfcheck.json
